<div class="p-2">
  <h5>
  <%= @place.name %>
  </h5>
</div>

<% if @current_user %>
  <div class="p-2">
    <a href="/posts/new?place_id=<%= @place.id %>" class="btn btn-primary">New Post</a>
  </div>
<% end %>


<% if @current_user %>
<div class="m-2">
  <h6>My Posts</h6>
</div>
  <% for post in @place.posts.where({ user_id: session[:user_id] }) %>
    <div class="m-2">
      <h7><%= post.title %></h7>
    </div>
    <div class="m-2">
      <h8><%= post.posted_on %></h8>
    </div>
    <div class="m-2">
      <h9><%= post.description %></h9>
    </div>
  <% end %>
<% end %>
